name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clone Plugins
        uses: actions/checkout@v3

      - name: Build Plugin
        run: dotnet publish -c Release src

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.Mqtt
          path: src/Artemis.Plugins.Mqtt/bin/x64/Release/net10.0/publish
